<h1>見積依頼詳細</h1>

<h2>見積依頼情報</h2>
<table>
  <tr>
    <th>製品名</th>
    <td><%= @estimate.product.name %></td>
  </tr>
  <tr>
    <th>メーカー名</th>
    <td><%= @estimate.company.name %></td>
  </tr>
  <tr>
    <th>依頼日</th>
    <td><%= @estimate.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <% if user_signed_in? %>
      <td>
        <%= @estimate.status %>
      </td>
    <% elsif company_signed_in? %>
      <td>
        <%= form_with model: @estimate, local: true do |f| %>
          <%= f.select :status, [["受付中", "受付中"], ["送付済", "送付済"]] %>
          <%= f.submit "更新" %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <tr>
    <th>見積依頼概要</th>
    <td><%= @estimate.description %></td>
  </tr>
</table>

<h2>依頼者情報</h2>
<table>
  <tr>
    <th>依頼者名</th>
    <td><%= @estimate.user.name %></td>
  </tr>
  <tr>
    <th>会社 / 団体名</th>
    <td><%= @estimate.user.group %></td>
  </tr>
  <tr>
    <th>部署名</th>
    <td><%= @estimate.user.department %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td>
      <%= "〒#{@estimate.user.postal_code}" %><br>
      <%= @estimate.user.address %>
    </td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @estimate.user.phone_num %></td>
  </tr>
</table>