<h2>Sign up</h2>

<%= form_with model: @company, url: company_registration_path, id: 'new_company', class: 'new_company', local: true do |f| %>
  <%= render "companies/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "会社名" %><br>
    <%= f.text_field :name,autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name_kana, "会社名（カナ）" %><br>
    <%= f.text_field :name_kana %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "所在地" %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_num, "電話番号" %><br>
    <%= f.text_field :phone_num %>
  </div>

  <div class="field">
    <%= f.label :fax_num, "FAX番号" %><br>
    <%= f.text_field :fax_num %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "companies/shared/links" %>
