<h1>製品投稿ページ</h1>

<% if @product.errors.any? %>
  <% @product.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model: @product, local: true do |f| %>
  <div>
    <%= f.label :name, "製品名" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :type_id, "製品タイプ" %>
    <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: "選択してください" %>
  </div>
  <div>
    <%= f.label :description, "製品概要" %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :product_images_images, "製品画像" %>
    <%= f.attachment_field :product_images_images, multiple: true %>
  </div>
  <div>
    <%= f.fields_for :sizes do |builder| %>
      <%= render 'size_fields', f: builder %>
      <%= link_to_add_association "寸法を追加", f, :sizes %>
    <% end %>
  </div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>