<div id="product-show" class="container">
  <h1 class="main-title"><%= @product.name %></h1>
  <div class="product-image-container">
    <div id="slider">
      <% @product.product_images.each do |image| %>
        <%= attachment_image_tag image, :image, format: 'jpeg', class: "product-image" %>
      <% end %>
    </div>
  </div>
  <div class="content-container">
    <h2 class="content-title">製品概要</h2>
    <%= @product.description %>
  </div>
  <div class="content-container">
    <h2 class="content-title">製品寸法</h2>
    <% @sizes.each do |size| %>
      <%= size.name %>
    <% end %>
  </div>
  <div class="content-container">
    <h2 class="content-title">Download</h2>
    <%= link_to "図面ダウンロード", download_drawing_path(@product.id) %>
  </div>
  <% if @product.company == current_company %>
    <div class="content-container">
      <h2 class="content-title">管理者機能</h2>
      <%= link_to "編集", edit_product_path(@product.id), class: "btn btn-secondary" %>
      <%= link_to "削除", product_path(@product.id), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="content-container">
      <h2 class="content-title">見積依頼</h2>
      <%= link_to "見積依頼を作成", new_product_estimate_path(@product.id) %>
    </div>
  <% end %>
</div>