<h1>製品詳細ページ</h1>

<%= @product.name %>
<% @product.product_images.each do |image| %>
  <%= attachment_image_tag image, :image, :fill, 300, 300, format: 'jpg' %>
<% end %>
<%= @product.type.name %>
<%= @product.company.name %>
<%= @product.description %>
<% @sizes.each do |size| %>
  <%= size.name %>
<% end %>
<% if user_signed_in? %>
  <%= link_to "見積依頼を作成", new_product_estimate_path(@product.id) %>
<% end %>