<h2>Sign up</h2>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "氏名" %><br>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name_kana, "氏名（カナ）" %><br>
    <%= f.text_field :name_kana %>
  </div>

  <div class="field">
    <%= f.label :group, "会社名 / 団体名" %><br>
    <%= f.text_field :group %>
  </div>

  <div class="field">
    <%= f.label :group_kana, "会社名 / 団体名（カナ）" %><br>
    <%= f.text_field :group_kana %>
  </div>

  <div class="field">
    <%= f.label :department, "部署 / 課" %><br>
    <%= f.text_field :department %>
  </div>

  <div class="field">
    <%= f.label :phone_num, "電話番号" %><br>
    <%= f.text_field :phone_num %>
  </div>

  <div class="field">
    <%= f.label :fax_num, "FAX番号" %><br>
    <%= f.text_field :fax_num %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %><br>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
